In [5]:
# Interactive user input
x = input("Enter any integer: ")
print(x)
type(x)

Enter any integer: 30
30

str

In [8]:
# If statement
x = 20
if x%2 == 0:
    print(x,"is an even number")

20  is an even number

In [29]:
# If else statement
x = 30
if x%2 == 0:
    print(x,"is an even number")
else:
    print(x,"is an odd number")

30 is an even number

In [18]:
# Nested If else statement
x = 33
if x%2 == 0:
    if x < 0:
        print(x,"is a negative even number")
    else:
        print(x,"is a positive even number")
else:
    if x<0:
        print(x,"is a negative odd number")
    else:
        print(x,"is a positive odd number")

33  is a positive odd number

In [25]:
# Use of if eliff else statement
x =-33
if (x%2 == 0 and x<0):
    print(x,"is a negative even number")
elif(x%2 == 0 and x>0):
    print(x,"is a positive even number")
elif(x%2 != 0 and x<0):
    print(x,"is a negative odd number")
else:
    print(x,"is a positive odd number")

-33 is a negative odd number

In [28]:
for x in [1,2,5,6,67]:
    print(x, end =' ')

1 2 5 6 67

In [32]:
for each in (-1,6,0,20,-20):
    print(each, end = " ")

-1 6 0 20 -20

In [6]:
set1 = {300,1,5,7,100}
set1

{1, 5, 7, 100, 300}

In [7]:
for s in {300,1,5,7,100}:
    print(s, end =' ')

1 100 5 7 300

In [35]:
for char in "Welcome to the world of Python!":
    print(char,end=' ')

W e l c o m e   t o   t h e   w o r l d   o f   P y t h o n !

In [8]:
for i in range(5,15,2):
    print(i)

5
7
9
11
13

In [48]:
list1 = [10,20,100,40,90]
for i in range(len(list1)):
    print(list1[i],end =",")

10,20,100,40,90,

In [13]:
dict1 = {"Sky":"Blue", "Sun":"Shine", "Rose":"Red"}
print(dict1)
print("\n Printing items of dict1")
for each in dict1.items():
    print(each)

{'Sky': 'Blue', 'Sun': 'Shine', 'Rose': 'Red'}

 Printing items of dict1
('Sky', 'Blue')
('Sun', 'Shine')
('Rose', 'Red')

In [18]:
print("Printing keys of dict1")
for each in dict1.keys():
    print(each, end = ",")
print("\n")
print("Printing values of dict1")
for each in dict1.values():
    print(each, end = ",")

Printing keys of dict1
Sky,Sun,Rose,

Printing values of dict1
Blue,Shine,Red,

In [19]:
value= 20
while value > 0 :
    print(value, end =",")
    value -= 2

20,18,16,14,12,10,8,6,4,2,

In [22]:
# User defined function 
def greet(a):
    print("Hello",a,"Good Morning!")
def say(b):
    print("You are",b, "fabulous")

In [25]:
greet("Rajesh")
say("Seema")

Hello Rajesh Good Morning!
You are Seema fabulous

## Practice

In [ ]:
# Write a udf the will accept a list of numbers and return the odd numers as  another list

In [5]:
def oddnum(list1):
    odd_num_list = []
    for i in list1:
        if i%2 !=0:
             odd_num_list.append(i)
    return odd_num_list

In [6]:
oddnum([100,20,67,32,98,79,45,33,12,0,-100,-999])

[67, 79, 45, 33, -999]

In [31]:
# Dictionary modification
def dict_modify(d1):
    for key in d1.keys():
        new_val = []
        for i in d1[key]:
            if i%2==0:
                i *= 0.5
            new_val.append(i)
            d1.update({key:new_val})
    return d1

In [32]:
dict_modify({'A': [10,9,8,4,6,7], "B":[100,56,25,99,84]})

{'A': [5.0, 9, 4.0, 2.0, 3.0, 7], 'B': [50.0, 28.0, 25, 99, 42.0]}

In [33]:
d1 ={'A': [10,9,8,4,6,7], "B":[100,56,25,99,84]}
d1.keys()

dict_keys(['A', 'B'])

In [21]:
def squared(x):
    return x**2
squared(3)

9

In [19]:
# Use of Lambda functions
square = lambda x:x**2

In [20]:
square(30)

900

In [23]:
f = lambda a,b:(3*a+4*b)

In [24]:
f(30,40)

250

In [25]:
# List comprehension
L = [100,20,67,32,98,79,45,33,12,0,-100,-999]
[ 2*each for each in L]

[200, 40, 134, 64, 196, 158, 90, 66, 24, 0, -200, -1998]

In [30]:
# List comprehension with if
L1 = [100,20,67,32,98,79,45,33,12,0,-100,-999]
[each for each in L1 if each%2==0]

[100, 20, 32, 98, 12, 0, -100]

In [28]:
# List comprehension with if else
L2 = [100,20,67,32,98,79,45,33,12,0,-100,-999]
[each *0.5 if each%2 ==0 else each for each in L2]

[50.0, 10.0, 67, 16.0, 49.0, 79, 45, 33, 6.0, 0.0, -50.0, -999]

In [7]:
# Write user defined function to increment salaries
def sal_inc(list):
    new_sal = []
    for i in list:
        if i <=50000:
            new_sal.append(i*1.3)
        else:
            new_sal.append(i*1.2)
    return new_sal

In [10]:
sal_inc([10000,100000,75000,25000,43000,97000])

[13000.0, 120000.0, 90000.0, 32500.0, 55900.0, 116400.0]

In [15]:
# Write list comprehension with if else to increment the salaries
sal = [10000,100000,75000,25000,43000,97000]
[i*1.3 if (i <= 50000) else 1.2*i for i in sal ]

[13000.0, 120000.0, 90000.0, 32500.0, 55900.0, 116400.0]